

<div class="container">   
    <!-- <form (ngSubmit)="onSubmit(f.value)" #f="ngForm"> -->
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <!-- <form> -->
      <div class="container">
        <label for="uname"><b>Username</b></label>

        <input type="text" placeholder="Enter Username" name="uname" ngModel #uname required>

        <span class="help-block" *ngIf="!uname.valid && uname.touched" class="inputerror">Please enter Username</span>
    <br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" ngModel #password required>
    <br>
        <!-- <button type="submit" (click)="LoginSubmit(uname.value,password.value)">Login</button> -->
        <button type="submit" [disabled]="!f.valid">Login</button>
       
      </div>
    
      <div class="alert alert-danger" *ngIf="error">{{errorMessage}}</div>
    </form>
</div>
